main {
  padding: 2rem;
}

.card {
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 21rem;
}

.card > img {
  border-radius: 0.75rem 0.75rem 0 0;
}

.card-content {
  padding: 1rem 1.875rem;
}

.card-content h2 {
  color: var(--grey-900);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.card-content > p {
  color: var(--grey-500);
  margin-bottom: 3rem;
}

.card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info-details .user-name {
  color: var(--grey-900);
}

.user-info-details .post-date {
  color: var(--grey-400);
}

.btn {
  width: 2rem;
  height: 2rem;
  place-items: center;
  border: unset;
  border-radius: 50%;
  background-color: var(--grey-200);
  cursor: pointer;
}

.share-bar {
  background-color: var(--grey-900);
  border-radius: 0 0 0.75rem 0.75rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.share-menu {
  display: flex;
  align-items: center;
  padding: 22px 30px;
  gap: 1rem;
}

.share-menu .share {
  color: var(--grey-400);
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.share-menu .btn-share-close {
  background-color: var(--grey-500);
  margin-left: auto;
}

.share-menu .btn-share-close img {
  filter: brightness(3);
}

.hidden {
  display: none;
}

@media (min-width: 48rem) {
  .card {
    display: flex;
    min-width: 38rem;
    gap: 2rem;
  }

  .card > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.75rem 0 0 0.75rem;
  }

  .card-content {
    padding-block: 2.5625rem;
    padding-inline: 0 2.25rem;
  }

  .card-content h2 {
    margin-top: 0;
  }

  .card-content > p {
    margin-bottom: 1.5rem;
  }

  .share-bar {
    width: fit-content;
    border-radius: 0.75rem;
    bottom: 6rem;
    right: -4.5rem;
  }

  .share-menu {
    padding: 1.125rem 2.375rem;
  }

  .share-menu .btn-share-close {
    display: none;
  }

  .share-bar::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--grey-900);
  }
}

@media (min-width: 66rem) {
  .card {
    max-width: 50rem;
  }
}
